@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projekt zaliczeniowy</h1>
    <p class="lead">NAURA</p>
   
</div>


<div>

    <h3>@Html.ActionLink("Lista Samochodów", "Index", "TruckDetails")<h3>
    <h3>@Html.ActionLink("Lista Marek", "Index", "TruckRefBrands")</h3>

</div>


