@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Brak autoryzacji";
}

<h1 class="text-danger">Brak autoryzacji.</h1>
<h2 class="text-danger">Nie jesteś upoważniony do przeglądania tej zawartości.</h2>

